.mat-checkbox-label {
    white-space: normal!important;
  }
  .checklist{
  margin-left: 3vw;
  }
  ::ng-deep snack-bar-container.success-alert {
  background-color: green !important;
  color: white !important;
  }
  
  ::ng-deep snack-bar-container.error-alert {
  background-color: red !important;
  color: white !important;
  }
  
  ::ng-deep mat-simple-snackbar-action {
  color: white !important;
  }