// mat-cell,
// .mat-cell,

// mat-header-cell .mat-header-cell {
//   padding: 0.75rem !important;
// }

.mat-table {

    .mat-header-row {
        height: 48px;
    }

    .mat-header-cell {
        padding-left: 16px;
        padding-right: 40px;
    }
    .mat-cell {
        padding-left: 16px;
        padding-right: 40px;
        white-space: nowrap;
    }

}
