.userIcon {
    height: 150px;
}

.Items-css {
    font-size: 12px;
    line-height: 2.5em;
    list-style-type: none;
}

.title-css {
    font-size:13px;
}

.close-btn {
    float: right;
    cursor: pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-size: 12px;
    background-color:none;
  }

  .blood-icon {
    height: 27px;
    margin-top: 6px;

  }

  .table-css {
    margin-left: -13px;
  }

  .blood-group-css {
    margin-left: -6px;
  }