::ng-deep snack-bar-container.success-alert {
    background-color: green !important;
    color: white !important;
  }
  
  ::ng-deep snack-bar-container.error-alert {
    background-color: red !important;
    color: white !important;
  }
  
  ::ng-deep mat-simple-snackbar-action {
    color: white !important;
  }

  .exportToExcel {
    background: url('../../../../../../assets/images/excel.png') no-repeat;
    margin-top: -3px;
    padding-right: 47px;
    width: 50px;
    float: right;
    padding-top: 27px;
    cursor: pointer;
    }

.projects-details-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}