<a mat-list-item [routerLink]="item.Path ? item.Path : '.'" (click)="onItemSelected(item)" [ngStyle]="{ 'padding-left': depth * 12 + 'px' }">
  <mat-icon class="{{ item.Style }}"></mat-icon>&nbsp;{{ item.Title }}
  <span fxFlex *ngIf="item.Categories && item.Categories.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list *ngFor="let child of item.Categories" [item]="child" [depth]="depth + 1">
  </app-menu-list>
</div>