.apply-css {
background-color: white;
}

.regularization-btn-css{
    padding:0;
    margin: 0;
}

.btn-css {
    float: right;
}

.regularization-css {
    padding: 0;
    margin: 0;
}

.arrow-css {
    cursor: pointer;
    font-size:24px;
    margin-right: 10px;
}

.icon-text-container {
    display: flex;
    align-items: center; /* Vertically align items in the center */
  }

  .icon-text-container p {
   margin-bottom: 0px !important;
  }
  