
.charts{
    cursor: pointer;
}
.exportToExcel {
    background: url('../../../../../../src/assets/images/excel.png') no-repeat;
    margin-top: -3px;
    padding-right: 47px;
    width: 50px;
    float: right;
    padding-top: 27px;
    cursor: pointer;
    }