<!-- Start Status KRA Here  -->
<mat-toolbar><span>Status</span></mat-toolbar>

<div class="bg-white mb-100">
  <!-- // Start - Freezed Define KRA -->
 <div class="row">
    <div class="col-md-2">
       <mat-form-field appearance="{{themeappeareance}}">
          <mat-label>Finacial Year</mat-label>
          <mat-select (selectionChange)="changeValue($event)">
             <mat-option selected value="2021-2022">
                2021 - 2022
             </mat-option>
             <mat-option value="2019-2020">
                2019 - 2020
             </mat-option>
          </mat-select>
       </mat-form-field>
    </div>
    <div class="col-md-3">
       <mat-form-field appearance="{{themeappeareance}}">
          <mat-label>Filter by Status</mat-label>
          <mat-select>
             <mat-option selected value="all">
                All
             </mat-option>
             <mat-option value="admin">
                Admin
             </mat-option>
          </mat-select>
       </mat-form-field>
    </div>
 </div>
 
 
 <div class="row">
    <!-- // Start - Status KRA -->
   <div class="row">
      <div class="col-md-12">
         <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="kraaspect">
               <th class="w25p" mat-header-cell *matHeaderCellDef> KRA ASPECTS </th>
               <td mat-cell *matCellDef="let element"> <b>{{element.kraaspect}}</b> <br/><i class="text-muted"><small>Added on Thursday, 9 Jul 2020, 4:45 PM</small></i></td>
            </ng-container>
            <ng-container matColumnDef="noofrloetypes">
               <th class="w30p" mat-header-cell *matHeaderCellDef> NO OF ROLE TYPES <br/><span class="versmallfont"><span class="text-muted">TOTAL |</span> <span class="text-success">ACCEPTED |</span> <span class="text-danger">FOR REVIEW</span></span></th>
               <td class="w25p" mat-cell *matCellDef="let element"> <p class="wspan"><span>{{element.noofrloetypes}}</span> <span>-</span>  <span>-</span></p>  </td>
            </ng-container>
            <ng-container matColumnDef="date">
               <th class="w25p" mat-header-cell *matHeaderCellDef> DATE </th>
               <td mat-cell *matCellDef="let element"> {{element.date}} <br/><span class="text-muted"><small>Half Yearly</small></span> </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th class="w20p" mat-header-cell *matHeaderCellDef> STATUS </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} <br/><span class="text-muted"><small>Half Yearly</small></span> </td>
           </ng-container>
           
           <ng-container matColumnDef="action">
            <th class="w20p" mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let element">  <button *ngIf="element.status =='45'" class="broadbtns primarydisabled"  mat-flat-button color="primary">{{element.action}}</button> <button  *ngIf="element.status =='Sent for acceptance, awaiting feedback'" class="broadbtns orangedisabled" mat-flat-button color="primary">{{element.action}}</button> <button  *ngIf="element.status =='Feedback received from HOD'" class="broadbtns reddisabled" mat-flat-button color="primary">{{element.action}}</button>  <button  *ngIf="element.status =='Awaiting to be sent to HOD for acceptance'" class="broadbtns" mat-flat-button color="primary">{{element.action}}</button>
            
              <span *ngIf="element.status =='Accepted by HOD'" class="text-success">Ready to be sent to CEO</span>
            </td>
         </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
      </div>
   </div>
    <!-- // End - Status Define KRA -->
 </div>





 <div class="row mt-100" >
  <!-- // Start - Freezed Define KRA -->
 <div class="row status">

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-2">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <img src="../../../../assets/images/hrms/icons/leftarrow.svg" alt="Left Arrow">
        </button>
      </div>
      <div class="col-md-10">
        <h5>  HR - RELATIONS & OPERATIONS <br/><small>Status / Department</small></h5>
      </div>
    </div>
  
  
  </div>
  <div class="col-md-4">
    <h5>JONATHAN McGRATH <br/><small>Department Head</small></h5>
  </div>
  <div class="col-md-4">

    <div class="row">
      <div class="col-md-2">
        <div class="spinner-background">
          <span>45</span>
          <mat-progress-spinner 
          diameter="50" 
          mode="determinate"
          strokeWidth="10" 
          value="45">
      </mat-progress-spinner>
          </div>
      </div>
      <div class="col-md-10">
        <h5>IN PROGRESS <br/><small>Status</small></h5>
      </div>
    </div>
    
 


    <!-- <mat-progress-spinner
    mode="determinate"
    value="45" diameter="50"><span>45</span>
</mat-progress-spinner> -->
  </div>


    <div class="col-md-12">

 


          <table mat-table [dataSource]="kraStatusdataSource">
          <ng-container matColumnDef="roletypes">
            <th class="w25p" mat-header-cell *matHeaderCellDef> ROLE TYPES </th>
            <td mat-cell *matCellDef="let element">   <button mat-icon-button>
              <img src=".././../../../assets/images/hrms/icons/expand.svg" alt="Expand"/>
            </button> {{element.roletypes}} </td>
         </ng-container>

         <ng-container matColumnDef="noofkras">
            <th class="w25p" mat-header-cell *matHeaderCellDef> NO. OF KRA's </th>
            <td mat-cell *matCellDef="let element"> {{element.noofkras}} </td>
         </ng-container>
         <ng-container matColumnDef="status">
           <th class="w20p" mat-header-cell *matHeaderCellDef> STATUS </th>
           <td mat-cell *matCellDef="let element"> <span class="orangeTest">{{element.status}}</span> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="kraStatusRelationClmns"></tr>
        <tr mat-row *matRowDef="let row; columns: kraStatusRelationClmns;"></tr>

     </table>
 
    
    </div>
 </div>
  <!-- // End - Freezed Define KRA -->
</div>



</div>
<!-- Ends Status KRA Here  -->




<div class="panel-heading">
  <div class="panel-title">Associate KRAs</div>
</div>
<div class="text-right" *ngIf="loggedinUserRole == 'HRM'">
    <p-checkbox name="overideExisting" value="1" [(ngModel)]="overideExisting"></p-checkbox>
    <b>Override Existing</b>&nbsp;
    <button type="button" id="kraScaleAddBtn" (click)="generatePDFforAllAssociates()" class="btn btn-primary"
      title="Generate PDF for All Associates">
      <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Generate PDF for All Associates</button>
  </div>
<div class="panel-body">
  <div class="center">
    <div class="row">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-3">
          <div class="box">
            <label for="ddlDepartment">Financial Year :</label>
            <p-dropdown *ngIf="loggedinUserRole == 'Associate'" name="financialYearId" [style]="{'width':'70%'}"
              [options]="financialYearsList" filter="filter" [(ngModel)]="financialYearId"
              (onChange)="getAssociateKRAs(loggedInEmployeeId, ' ', financialYearId)" [autoWidth]="false">
            </p-dropdown>
            <p-dropdown *ngIf="loggedinUserRole != 'Associate'" name="finacialYear" [style]="{'width':'70%'}"
              [options]="financialYearsList" filter="filter" [(ngModel)]="financialYearId"
              (onChange)="getEmployeesByDepartmentIdAndProjectId(associateRoleMapping.DepartmentId, associateRoleMapping.ProjectId, financialYearId);dt1.reset()"
              [autoWidth]="false">
            </p-dropdown>
            <div *ngIf="formSubmitted && (financialYearId==null || financialYearId==undefined)">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">&nbsp; Financial Year is required.</span>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-3" *ngIf="showDepartmentsDropDown">
          <div class="box">
            <label for="ddlDepartment">Department:</label>
            <p-dropdown [options]="departmentList" name="ddlDepartment" [autoWidth]="false" [filter]="true"
              [(ngModel)]="associateRoleMapping.DepartmentId" [style]="{'width':'70%'}"
              (onChange)="getEmployeesByDepartmentId(associateRoleMapping.DepartmentId, financialYearId);dt1.reset()">
            </p-dropdown>
            <div
              *ngIf="formSubmitted && (associateRoleMapping.DepartmentId==null || associateRoleMapping.DepartmentId==undefined)">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">&nbsp; Department is required.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-3" *ngIf="showProjectsDropDown && !isNonDelivery">
          <div class="box">
            <label for="ddlproject">Project :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p-dropdown [options]="projectsList" [style]="{'width':'70%'}" [disabled]="isNonDelivery" name="ddlProject"
              [autoWidth]="false" [filter]="true" [(ngModel)]="associateRoleMapping.ProjectId"
              (onChange)="getEmployeesByDepartmentIdAndProjectId(associateRoleMapping.DepartmentId, associateRoleMapping.ProjectId, financialYearId);dt1.reset()">
            </p-dropdown>
            <div
              *ngIf="(formSubmitted && !isNonDelivery) && (associateRoleMapping.ProjectId==null || associateRoleMapping.ProjectId==undefined)">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">&nbsp; Project is required.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
            <section class="pull-right buttons">
              <button *ngIf="loggedinUserRole != 'Associate'" type="button" class="btn btn-default"
              style="cursor:pointer;" (click)="Clear();dt1.reset()">
              <i class="fa fa-eraser"></i>&nbsp;Clear</button>
            </section>
          </div>
      </div>
 
    </div>

    <!-- When login with HRM use this Grid   -->
    <div class="tables">
      <div class="panel-body" *ngIf="loggedinUserRole != 'Associate'">
          <div style="text-align: right">
              <input type="text" pInputText size="50" style="width: 20%;" placeholder="Search"
              class="inputCls" (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        <p-table #dt1 [columns]="cols" [value]="associatesList" [paginator]="true" [rows]="PageSize"
          [resizableColumns]="true" [reorderableColumns]="true" [style]="{ 'white-space': 'nowrap'}" dataKey="Id" [(selection)]="selectedEmployees">
         
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn
                pReorderableColumn>
                {{ col.header }}
              </th>
              <!-- <th class="select" *ngIf="loggedinUserRole == 'HRM'">
                Generate PDF
              </th>
              <th class="select" *ngIf="loggedinUserRole == 'HRM'">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox> &nbsp; Generate PDF 
              </th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <ng-container *ngFor="let col of columns; let i = index" [pSelectableRow]="rowData[col]">
                <td *ngIf="i == 0 || i == 1">
                  {{ rowData[col.field] }}
                </td>
                <td *ngIf="i > 1 && rowData[col.field]" class="text-center">
                  <a style="cursor:pointer;">
                    <i title="View KRA" class="fa fa-eye fa-lg editCls"
                      (click)="getAssociateKRAs(rowData.Id, rowData.AssociateName, financialYearId)"></i>
                  </a>
                </td>
                <td *ngIf="i > 1 && !rowData[col.field]" class="text-center">
                  <a style="cursor:not-allowed; opacity: 0.5;">
                    <i title="View KRA" class="fa fa-eye fa-lg editCls"></i>
                  </a>
                </td>
                <!-- <td *ngIf="i > 0 && !rowData[col.field] && loggedinUserRole == 'HRM'">
                  <p-tableCheckbox disabled="true" [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngIf="i > 0 && rowData[col.field] && loggedinUserRole == 'HRM'">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td> -->
              </ng-container>
            </tr>
          </ng-template>
        
        </p-table>
        <div *ngIf="!associatesList || associatesList.length == 0" style="text-align: left">
            No records found
          </div>
      </div>
    </div>

    <!-- When login with Associate use this Grid   -->
    <div class="table-2">
      <div class="panel-body" *ngIf="loggedinUserRole == 'Associate'">
        <table class="table table-bordered table-striped">
          <thead class="d-center">
            <tr style="background:#F1F2F4">
              <th>KRA Aspect</th>
              <th>Metric</th>
              <th>Target</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let col of aspectsList; let i = index">
              <td *ngIf="rowspansList.indexOf(i) > -1" [attr.rowspan]="col.AspectCount"
                style="vertical-align:middle; width: 15%"> {{ col.KRAAspectName }}</td>
              <td style="width: 70%">{{ col.KRAAspectMetric }}</td>
              <td style="width: 15%">{{ col.KRAAspectTarget }}</td>
            </tr>
            <tr *ngIf="!aspectsList || aspectsList.length == 0">
              <td colspan="3" style="text-align: left"> No records found </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p-dialog appendTo="body" header="{{ KraHeading }}" height="400" width="1000" [(visible)]="associateKraView"
  responsive="true" modal=true showHeader=true closeOnEscape=true closable=true>
  <div style="height:400px;">
    <table class="table table-bordered table-striped">
      <thead class="d-center">
        <tr style="background:#F1F2F4">
          <th>KRA Aspect</th>
          <th>Metric</th>
          <th>Target</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let col of aspectsList; let i = index">
          <td *ngIf="rowspansList.indexOf(i) > -1" [attr.rowspan]="col.AspectCount" style="vertical-align:middle; width: 15%"> {{ col.KRAAspectName }}</td> 
          <td style="width: 70%">{{ col.KRAAspectMetric }}</td>
          <td style="width: 15%">{{ col.KRAAspectTarget }}</td>
        </tr>
        <tr *ngIf="!aspectsList || aspectsList.length == 0">
          <td colspan="3" style="text-align: left"> No records found </td>
        </tr>
      </tbody>
    </table>
  </div>
</p-dialog>

<p-dialog appendTo="body" height="50" width="350" [(visible)]="pdfStatus" modal=true [closable]="false" [closeOnEscape]="false">
  <p-header> Please wait while generating PDFs for all Associates... </p-header>
  <p-progressBar mode="indeterminate" [style]="{'height': '6px' , 'width' : '100%' }"></p-progressBar>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
