<div class="panel-heading">
  <div class="panel-title">
      <b>ADR Configuration</b>
  </div>
</div>
<div class="panel-body">
  <div class="center">
  <div class="row">
      <form [formGroup] = "adrConfiguration">
          <div class="row">
              <div class="ui-g">
                  <div class="ui-g-12 ui-md-4 ui-lg-3">
                      <div class="box">
                          <label>Financial Year:</label>&nbsp;
                          <p-dropdown [options]="financialYearsList" [style]="{'width':'70%'}" name="financialYearId" 
                          formControlName = "financialYearId" [autoWidth]="false" required filter="filter">
                          </p-dropdown>
                          <div>
                              <span style="color: red" *ngIf="(FormSubmitted&&(financialYearId==null))">
                                  Financial Year is required
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="box">
                      <label id="labels">ADR Section:
                        <span style="color: red">*</span>
                      </label>
                   <div>
                      <p-multiSelect [style]="{'width':'80%'}" name="adrSection" [options]="adrSectionsList" [panelStyle]="{minWidth:'12em'}" 
                      formControlName = "adrSectionId"
                      defaultLabel="Choose Columns" filter="filter"></p-multiSelect>
                   </div>
          
                      
                      <div *ngIf="FormSubmitted && adrSectionsList.length==0">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">ADR Section is required.</span>
                      </div>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-4 ui-lg-3">
                      <div class="box">
                          <a id="btn-login" (click)="configureADR()" class="btn btn-primary">
                              <i class="fa fa-plus"></i>&nbsp;Configure ADR</a>&nbsp;
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
<!-- <div class="tables">
  <div *ngIf="departmentHeadDepartmentId > 0">
          <div class="ui-g">
                  <div class="ui-g-12 ui-md-3"> {{gridMessage}}</div>
                  <div class="ui-g-12 ui-md-3 ui-md-offset-6">
                      <i class="fa fa-search" class="iconCls"></i>

                      <input type="text" pInputText size="50" style="width: 60%; margin-bottom: 10px;" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                          class="inputCls" />
                  </div>
              </div>
      <p-table #dt1 [columns]="cols" [value]="kraGroupList" [paginator]="true" [rows]="PageSize" [resizableColumns]="true" [reorderableColumns]="true"
          [style]="{ 'white-space': 'nowrap'}" dataKey="KRAGroupId" columnResizeMode="expand" [(selection)]="selectedkraGroup" (onRowSelect)="onRowSelect($event)">
         
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th class="select">Select</th>
                  <th *ngFor="let col of columns" [ngStyle]="{'display': col.display}" class="text-center" [pSortableColumn]="col.field" pResizableColumn
                      pReorderableColumn>
                      {{ col.header }}

                      <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th colspan="1" class="comment">Add</th>
                  <th colspan="3" class="action">Action(s)</th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td *ngIf="checkValue(rowData)">
                      <p-tableCheckbox disabled="true" [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngIf="!checkValue(rowData)">
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]" [ngStyle]="{'display': col.display}">
                      <div>{{ rowData[col.field] }}</div>
                  </td>
                  <td *ngIf="loggedinUserRole.indexOf('HRM') != -1 && (rowData[cols[1].field] != 1 && rowData[cols[1].field] != 3)">
                      <button type="button" class="btn btn-primary" style="cursor: pointer" (click)="onGroupRowSelect(rowData)" title="Add KRA">
                      <i class="fa fa-eye"></i>&nbsp;View KRA</button>
                  </td>
                  <td *ngIf="loggedinUserRole.indexOf('HRM') != -1 && (rowData[cols[1].field] == 1 || rowData[cols[1].field] == 3)">
                      <button type="button" class="btn btn-primary" style="cursor: pointer" (click)="onGroupRowSelect(rowData)" title="View KRA">
                      <i class="fa fa-plus"></i>&nbsp;Add KRA</button>
                  </td>
                  <td *ngIf="loggedinUserRole.indexOf('HRM') != -1 && (rowData[cols[1].field] == 1 || rowData[cols[1].field] == 3)">
                      <a style="cursor: pointer" title="Add Comments" (click)="addComment(rowData)">
                          <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                      </a>
                  </td>
                  <td *ngIf="loggedinUserRole.indexOf('HRM') != -1 && (rowData[cols[1].field] != 1 && rowData[cols[1].field] != 3)">
                      <a style="cursor: not-allowed; opacity: 0.5;" title="" >
                          <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                      </a>
                  </td>
                  <td>
                      <a style="cursor: pointer" title="View Comments" (click)="showComments(rowData.FinancialYearId,rowData.KRAGroupId)">
                          <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                      </a>
                  </td>
                  <td class="del" *ngIf="loggedinUserRole.indexOf('HRM') != -1 && (rowData[cols[1].field] == 1 || rowData[cols[1].field] == 3)">
                      <a style="color:red; cursor: pointer;" title="Delete KRA Group" (click)="deletekraGroup(rowData)">
                          <i class="fa fa fa-trash fa-lg" aria-hidden="true"></i>
                      </a>
                  </td>
                  <td class="del" *ngIf="loggedinUserRole.indexOf('HRM') != -1 && (rowData[cols[1].field] != 1 && rowData[cols[1].field] != 3)">
                      <a style="color:red; cursor: not-allowed; opacity: 0.5;" title="">
                          <i class="fa fa fa-trash fa-lg" aria-hidden="true"></i>
                      </a>
                  </td>
              </tr>
          </ng-template>

      </p-table>
  </div>
  </div> -->
  </div>
</div>