<div class="panel panel-default">
  <div class="panel-heading">
      <div class="panel-title">
          Key Function
      </div>
  </div>
  <div class="panel-body">
<div class="center">
      <form [formGroup]="addkeyFunction" class="form-horizontal">
          <div class="row">
              <div class="ui-g">
                  <div class="ui-g-12 ui-md-4 ui-lg-3">
                      <div class="box">
                          <label>Department</label>
                          <span style="color: red">*</span>&nbsp;
                          <p-dropdown *ngIf="!isEdit" [style]="{'width':'70%'}"  [options]="departmentList" filter="true"
                              formControlName="DepartmentId" tabindex="2"></p-dropdown>
                          <p-dropdown *ngIf="isEdit" [disabled]="isEdit" [style]="{'width':'70%'}" name="CompetencyAreaId" [options]="departmentList"
                              filter="true" formControlName="DepartmentId" tabindex="2" readonly></p-dropdown>
                          <div *ngIf="addkeyFunction.get('DepartmentId').hasError('required') && formSubmitted">
                              <span style="color: red">Department Required</span>
                          </div>
                      </div>
                  </div>
                  <div class="ui-g-12 ui-md-4 ui-lg-3">
                      <div class="box">
                          <label for="SGRoleName">KeyFunction Name:</label>
                          <span style="color: red">*</span>&nbsp;
                          <input formControlName="SGRoleName" style="width: 70%" required type="text" size="30" pInputText>
                          <div *ngIf="addkeyFunction.get('SGRoleName').hasError('required') && formSubmitted">
                              <span style="color: red"> KeyFunction Name Required</span>
                          </div>
                          <div *ngIf="addkeyFunction.get('SGRoleName').hasError('pattern') ">
                              <span style="color: red">Enter Valid KeyFunction Name</span>
                          </div>
                          <div *ngIf="addkeyFunction.get('SGRoleName').hasError('maxlength')">
                              <span style="color: red">Only 100 characters</span>
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="ui-g">
                  
                  <div class="col-lg-12">
                      <section class="pull-right buttons">
                          <button type="submit" class="btn btn-custom" style="cursor:pointer;" (click)="addkeyFunctions()">
                              <i class="fa fa-floppy-o"></i>&nbsp;{{btnLabel}}</button>
                          &nbsp;
                          <button type="button" class="btn btn-default" style="cursor:pointer;" (click)="cancel()">
                              <i class="fa fa-eraser"></i>Clear</button>
                      </section>
                  </div>
              </div>
          </div>
      </form>
      </div>
  </div>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>